Repository majorimi/blazor-components: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-commit.yml, azure-pipelines-sampleApp.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-commit.yml: any of: src
  azure-pipelines-sampleApp.yml: any of: demo/Blazor.Components.DemoApp
  azure-pipelines.yml: any of: src

Demos
  src/Blazor.Components.TestApps.Common/Components/ColorPicker.razor
  src/Blazor.Components.TestApps.Common/Components/Permalink.razor
Due: azure-pipelines-commit.yml, azure-pipelines.yml

First working version with SignalR
  src/Blazor.Components.TestApp/Program.cs
  src/Blazor.Components.TestServerApp/Program.cs
  src/Blazor.Components.TestServerApp/Shared/MainLayout.razor
  src/Blazor.Components.TestServerApp/Startup.cs
  src/Blazor.Components.TestServerApp/appsettings.json
  src/Blazor.Server.Logging.Console/Blazor.Server.Logging.Console.csproj
  src/Blazor.Server.Logging.Console/BlazorServerConsoleLoggingHub.cs
  src/Blazor.Server.Logging.Console/BrowserConsoleLogger.cs
  src/Blazor.Server.Logging.Console/BrowserConsoleLoggerProvider.cs
  src/Blazor.Server.Logging.Console/ServerConsoleLogging.cs
Due: azure-pipelines-commit.yml, azure-pipelines.yml

Log filters.
  src/Blazor.Components.TestApp/Program.cs
  src/Blazor.Components.TestServerApp/Program.cs
  src/Blazor.Components.TestServerApp/appsettings.json
  src/Blazor.Server.Logging.Console/BrowserConsoleLogger.cs
Due: azure-pipelines-commit.yml, azure-pipelines.yml

Handle log level
  src/Blazor.Server.Logging.Console/BrowserConsoleLogger.cs
  src/Blazor.Server.Logging.Console/ServerConsoleLogging.cs
  src/Blazor.Server.Logging.Console/wwwroot/Blazor.Server.Logging.Console.js
  src/Blazor.Server.Logging.Console/wwwroot/Blazor.Server.Logging.Console.min.js
Due: azure-pipelines-commit.yml, azure-pipelines.yml

Reorganize Server to browser console logger and updated docs.
  .github/docs/ServerHostedLogging.md
  .github/docs/WebAssemblyHostedLogging.md
  src/Blazor.Components.TestServerApp/Program.cs
  src/Blazor.Components.TestServerApp/Shared/MainLayout.razor
  src/Blazor.Components.TestServerApp/Startup.cs
  src/Blazor.Server.Logging.Console/BlazorServerConsoleLoggingHub.cs
  src/Blazor.Server.Logging.Console/BrowserConsoleLogger.cs
  src/Blazor.Server.Logging.Console/BrowserConsoleLoggerExtensions.cs
  src/Blazor.Server.Logging.Console/BrowserConsoleLoggerProvider.cs
  src/Blazor.Server.Logging.Console/BrowserConsoleLoggerService.cs
  src/Blazor.Server.Logging.Console/IBrowserConsoleLoggerService.cs
  src/Blazor.Server.Logging.Console/ServerConsoleLogging.cs
Due: azure-pipelines-commit.yml, azure-pipelines.yml

Update azure-pipelines-Nuget.yml for Azure Pipelines
  azure-pipelines-Nuget.yml
Due: none

Updated Demo app.
  demo/Blazor.Components.DemoApp/Blazor.Components.DemoApp.csproj
  demo/Blazor.Components.DemoApp/Components/ColorPicker.razor
  demo/Blazor.Components.DemoApp/Components/DragAndDrop.razor
  demo/Blazor.Components.DemoApp/Components/Index.razor
  demo/Blazor.Components.DemoApp/Components/JSInterop.razor
  demo/Blazor.Components.DemoApp/Components/Permalink.razor
  demo/Blazor.Components.DemoApp/Pages/ColorPickerPage.razor
  demo/Blazor.Components.DemoApp/Pages/DragAndDropPage.razor
  demo/Blazor.Components.DemoApp/Program.cs
  demo/Blazor.Components.DemoApp/Shared/NavMenu.razor
  demo/Blazor.Components.DemoApp/_Imports.razor
Due: azure-pipelines-sampleApp.yml

Added timer GIF to docs.
  .github/docs/Timer.md
  .github/docs/gifs/timer.gif
Due: none

Update Timer.md
  .github/docs/Timer.md
Due: none

Update Typeahead.md
  .github/docs/Typeahead.md
Due: none

Update DebounceInputs.md
  .github/docs/DebounceInputs.md
Due: none

Expose important Inner elements.
  .github/docs/Loading.md
  .github/docs/PermaLink.md
  .github/docs/Typeahead.md
  src/Blazor.Components.Loading/LoadingButton.razor
  src/Blazor.Components.PermaLink/PermaLinkElement.razor
  src/Blazor.Components.TestApps.Common/Components/Debounce.razor
  src/Blazor.Components.TestApps.Common/Components/Loading.razor
  src/Blazor.Components.Typeahead/TypeaheadInput.razor.cs
  src/Blazor.Components.Typeahead/TypeaheadInputText.razor.cs
Due: azure-pipelines-commit.yml, azure-pipelines.yml

Updated all projects with XML and docs fixes.
  .github/docs/CssEvents.md
  .github/docs/Modal.md
  src/Blazor.Components.ColorPicker/Blazor.Components.ColorPicker.csproj
  src/Blazor.Components.ColorPicker/Blazor.Components.ColorPicker.xml
  src/Blazor.Components.Common.JsInterop/Blazor.Components.Common.JsInterop.csproj
  src/Blazor.Components.Common.JsInterop/Blazor.Components.Common.JsInterop.xml
  src/Blazor.Components.Common.JsInterop/Scroll/ElementReferenceScrollExtensions.cs
  src/Blazor.Components.Common.JsInterop/wwwroot/scroll.js
  src/Blazor.Components.Common.JsInterop/wwwroot/scroll.min.js
  src/Blazor.Components.CssEvents/Blazor.Components.CssEvents.csproj
  src/Blazor.Components.CssEvents/Blazor.Components.CssEvents.xml
  src/Blazor.Components.CssEvents/CssBaseEventArgs.cs
  src/Blazor.Components.Debounce/Blazor.Components.Debounce.csproj
  src/Blazor.Components.Debounce/Blazor.Components.Debounce.xml
  src/Blazor.Components.DragAndDrop/Blazor.Components.DragAndDrop.csproj
  src/Blazor.Components.DragAndDrop/Blazor.Components.DragAndDrop.xml
  src/Blazor.Components.Loading/Blazor.Components.Loading.csproj
  src/Blazor.Components.Loading/Blazor.Components.Loading.xml
  src/Blazor.Components.Modal/Blazor.Components.Modal.csproj
  src/Blazor.Components.Modal/Blazor.Components.Modal.xml
  src/Blazor.Components.PermaLink/Blazor.Components.PermaLink.csproj
  src/Blazor.Components.PermaLink/Blazor.Components.PermaLink.xml
  src/Blazor.Components.Timer/Blazor.Components.Timer.csproj
  src/Blazor.Components.Timer/Blazor.Components.Timer.xml
  src/Blazor.Components.Typeahead/Blazor.Components.Typeahead.csproj
  src/Blazor.Components.Typeahead/Blazor.Components.Typeahead.xml
  src/Blazor.Server.Logging.Console/Blazor.Server.Logging.Console.csproj
  src/Blazor.Server.Logging.Console/Blazor.Server.Logging.Console.xml
  src/Blazor.WebAssembly.Logging.Console/Blazor.WebAssembly.Logging.Console.csproj
  src/Blazor.WebAssembly.Logging.Console/Blazor.WebAssembly.Logging.Console.xml
Due: azure-pipelines-commit.yml, azure-pipelines.yml

Demo app fixes.
  demo/Blazor.Components.DemoApp/Components/Color.razor
  demo/Blazor.Components.DemoApp/Components/ColorPicker.razor
  demo/Blazor.Components.DemoApp/Components/Debounce.razor
  demo/Blazor.Components.DemoApp/Components/Dialog.razor
  demo/Blazor.Components.DemoApp/Components/Loading.razor
Due: azure-pipelines-sampleApp.yml

Removed non ready components links.
  demo/Blazor.Components.DemoApp/Components/Index.razor
Due: azure-pipelines-sampleApp.yml

Updated docs GIFs url.
  .github/docs/DebounceInputs.md
  .github/docs/Loading.md
  .github/docs/Modal.md
  .github/docs/PermaLink.md
  .github/docs/Timer.md
  .github/docs/Typeahead.md
Due: none

Server side log fixes.
  .github/docs/ServerHostedLogging.md
  src/Blazor.Components.TestServerApp/Program.cs
  src/Blazor.Components.TestServerApp/Shared/MainLayout.razor
Due: azure-pipelines-commit.yml, azure-pipelines.yml

Set development Loglevel
  .github/docs/ServerHostedLogging.md
  src/Blazor.Components.TestServerApp/Program.cs
  src/Blazor.Components.TestServerApp/appsettings.Development.json
Due: azure-pipelines-commit.yml, azure-pipelines.yml

Nuget update
  src/Blazor.Components.Core.Tests/Blazor.Components.Core.Tests.csproj
  src/Blazor.Components.Loading.Tests/Blazor.Components.Loading.Tests.csproj
Due: azure-pipelines-commit.yml, azure-pipelines.yml

Loading components tests.
  src/Blazor.Components.Loading.Tests/LoadingButtonTest.cs
  src/Blazor.Components.Loading.Tests/LoadingPageTest.cs
Due: azure-pipelines-commit.yml, azure-pipelines.yml

DebounceTextArea and DebounceInput component tests.
  src/Blazor.Components.Debounce.Tests/Blazor.Components.Debounce.Tests.csproj
  src/Blazor.Components.Debounce.Tests/DebounceInputTest.cs
  src/Blazor.Components.Debounce.Tests/DebounceTextAreaTest.cs
  src/Blazor.Components.Loading.Tests/LoadingButtonTest.cs
  src/Blazor.Components.sln
Due: azure-pipelines-commit.yml, azure-pipelines.yml

Refine flaky unit test timings.
  src/Blazor.Components.Debounce.Tests/DebounceInputTest.cs
  src/Blazor.Components.Debounce.Tests/DebounceTextAreaTest.cs
Due: azure-pipelines-commit.yml, azure-pipelines.yml

Try to add trace for failing tests
  src/Blazor.Components.Debounce.Tests/DebounceInputTest.cs
Due: azure-pipelines-commit.yml, azure-pipelines.yml

Increase faster debounce time.
  src/Blazor.Components.Debounce.Tests/DebounceInputTest.cs
Due: azure-pipelines-commit.yml, azure-pipelines.yml

More unit tests.
  src/Blazor.Components.Debounce.Tests/DebounceInputTest.cs
  src/Blazor.Components.Debounce.Tests/DebounceTextAreaTest.cs
  src/Blazor.Components.Loading.Tests/LoadingButtonTest.cs
  src/Blazor.Components.Loading.Tests/LoadingPageTest.cs
  src/Blazor.Components.Timer.Tests/AdvancedTimerTest.cs
  src/Blazor.Components.Timer.Tests/Blazor.Components.Timer.Tests.csproj
  src/Blazor.Components.Timer/AdvancedTimer.razor
  src/Blazor.Components.Timer/Blazor.Components.Timer.xml
  src/Blazor.Components.Timer/Times.cs
  src/Blazor.Components.sln
  src/Blazor.Server.Logging.Console/BrowserConsoleLogger.cs
Due: azure-pipelines-commit.yml, azure-pipelines.yml

Permalink fixes and demo update.
  src/Blazor.Components.ColorPicker/HslColorSelector.razor
  src/Blazor.Components.PermaLink/PermaLinkElement.razor
  src/Blazor.Components.PermaLink/PermaLinkElement.razor.css
  src/Blazor.Components.PermaLink/PermaLinkElement.razor.min.css
  src/Blazor.Components.TestApps.Common/Components/Permalink.razor
Due: azure-pipelines-commit.yml, azure-pipelines.yml

Logger docs update.
  .github/docs/WebAssemblyHostedLogging.md
Due: none

Permalink element test proj
  src/Blazor.Components.PermaLink.Tests/Blazor.Components.PermaLink.Tests.csproj
  src/Blazor.Components.PermaLink.Tests/PermaLinkElementTest.cs
  src/Blazor.Components.PermaLink/Blazor.Components.PermaLink.xml
  src/Blazor.Components.PermaLink/EventHandlers.cs
  src/Blazor.Components.PermaLink/PermaLinkElement.razor
  src/Blazor.Components.sln
Due: azure-pipelines-commit.yml, azure-pipelines.yml

More permalink CSS fixes.
  src/Blazor.Components.PermaLink/PermaLinkElement.razor
  src/Blazor.Components.PermaLink/PermaLinkElement.razor.css
  src/Blazor.Components.PermaLink/PermaLinkElement.razor.min.css
Due: azure-pipelines-commit.yml, azure-pipelines.yml

JS and demo App fixes
  src/Blazor.Components.Common.JsInterop/wwwroot/scroll.js
  src/Blazor.Components.Common.JsInterop/wwwroot/scroll.min.js
  src/Blazor.Components.TestApps.Common/Components/JSInterop.razor
Due: azure-pipelines-commit.yml, azure-pipelines.yml

Write Blazor.Components.Modal.Tests
  src/Blazor.Components.Modal.Tests/Blazor.Components.Modal.Tests.csproj
  src/Blazor.Components.Modal.Tests/ModalDialogTest.cs
  src/Blazor.Components.sln
Due: azure-pipelines-commit.yml, azure-pipelines.yml

Nuget updates
  src/Blazor.Components.Core.Tests/Blazor.Components.Core.Tests.csproj
  src/Blazor.Components.Debounce.Tests/Blazor.Components.Debounce.Tests.csproj
  src/Blazor.Components.Loading.Tests/Blazor.Components.Loading.Tests.csproj
  src/Blazor.Components.Modal.Tests/Blazor.Components.Modal.Tests.csproj
  src/Blazor.Components.PermaLink.Tests/Blazor.Components.PermaLink.Tests.csproj
  src/Blazor.Components.Timer.Tests/Blazor.Components.Timer.Tests.csproj
Due: azure-pipelines-commit.yml, azure-pipelines.yml

Updated Nuget descriptions.
  src/Blazor.Components.ColorPicker/Blazor.Components.ColorPicker.csproj
  src/Blazor.Components.Common.JsInterop/Blazor.Components.Common.JsInterop.csproj
  src/Blazor.Components.CssEvents/Blazor.Components.CssEvents.csproj
  src/Blazor.Components.Debounce/Blazor.Components.Debounce.csproj
  src/Blazor.Components.DragAndDrop/Blazor.Components.DragAndDrop.csproj
  src/Blazor.Components.Loading/Blazor.Components.Loading.csproj
  src/Blazor.Components.Modal/Blazor.Components.Modal.csproj
  src/Blazor.Components.PermaLink/Blazor.Components.PermaLink.csproj
  src/Blazor.Components.Timer/Blazor.Components.Timer.csproj
  src/Blazor.Components.Typeahead/Blazor.Components.Typeahead.csproj
  src/Blazor.Server.Logging.Console/Blazor.Server.Logging.Console.csproj
  src/Blazor.WebAssembly.Logging.Console/Blazor.WebAssembly.Logging.Console.csproj
Due: azure-pipelines-commit.yml, azure-pipelines.yml

Updated readme
  README.md
Due: none

Updated demo app.
  README.md
  demo/Blazor.Components.DemoApp/Blazor.Components.DemoApp.csproj
  demo/Blazor.Components.DemoApp/Components/JSInterop.razor
  demo/Blazor.Components.DemoApp/Components/Loading.razor
  demo/Blazor.Components.DemoApp/Components/Permalink.razor
Due: azure-pipelines-sampleApp.yml

Start writing Blazor.Components.Typeahead.Tests.
  src/Blazor.Components.Typeahead.Tests/Blazor.Components.Typeahead.Tests.csproj
  src/Blazor.Components.Typeahead.Tests/TypeaheadInputText.cs
  src/Blazor.Components.sln
Due: azure-pipelines-commit.yml, azure-pipelines.yml

Update README.md
  README.md
Due: none

Created Toggle project.
  demo/Blazor.Components.DemoApp/Pages/TogglePage.razor
  demo/Blazor.Components.DemoApp/Shared/NavMenu.razor
  src/Blazor.Components.TestApp/Pages/TogglePage.razor
  src/Blazor.Components.TestApps.Common/Blazor.Components.TestApps.Common.csproj
  src/Blazor.Components.TestApps.Common/Components/Index.razor
  src/Blazor.Components.TestApps.Common/Components/ToggleComponent.razor
  src/Blazor.Components.TestApps.Common/NavMenu.razor
  src/Blazor.Components.TestApps.Common/Pages/TogglePage.razor
  src/Blazor.Components.TestServerApp/Pages/TogglePage.razor
  src/Blazor.Components.Toggle/Blazor.Components.Toggle.csproj
  src/Blazor.Components.Toggle/ToggleButton.razor
  src/Blazor.Components.Toggle/ToggleSwitch.razor
  src/Blazor.Components.Toggle/_Imports.razor
  src/Blazor.Components.sln
Due: azure-pipelines-commit.yml, azure-pipelines-sampleApp.yml, azure-pipelines.yml
